@model IEnumerable<Project100.Models.Class.Checking>

@{
    ViewData["Title"] = "CheckingView";
}




<h1 style=" text-align:center">Checking Accounts</h1>

<div tyle=" text-align:center">

    <img src="~/image/logo.png" alt="Revature Bank " height="70" width="200">
</div>
<br />
<a class="btn btn-info" role="button" asp-area="" asp-controller="Checkings" asp-action="create">Open New Account</a> |
<body style="text-align:center">
    <p>@ViewData["ErrorMessage"]</p>

    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.accountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdAt)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.InterestRate)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    Please Select the Activity you Want
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.accountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdAt)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>



                <td>


                    <a class="btn btn-info" role="button" asp-action="Delete" asp-route-id="@item.accountNumber">Delete</a> |
                    <a class="btn btn-info" role="button" asp-action="Deposit" asp-route-id="@item.accountNumber">Deposit</a> |
                    <a class="btn btn-info" role="button" asp-action="Withdraw" asp-route-id="@item.accountNumber">Withdraw</a> |
                    <a class="btn btn-info" role="button" asp-action="Transfer" asp-route-id="@item.accountNumber">Transfer</a>|
                    <a class="btn btn-info" role="button" asp-controller="Transactions" asp-action="DisplayRecord" asp-route-id="@item.accountNumber">Statement</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>