@model IEnumerable<Project100.Models.Loan>

@{
    ViewData["Title"] = "CustomLoan";
}

<h1>We always with you when ever you need... </h1>

<p>@ViewData["ErrorMessage"]</p>
<div tyle=" text-align:center">

    <img src="~/image/logo.png" alt="Revature Bank " height="150" width="200">
</div>

<a class="btn btn-info" role="button" asp-area="" asp-controller="loans" asp-action="create">Open New Account</a> |
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdAt)
                </td>

                <td>

                    <a class="btn btn-info" role="button" asp-action="Delete" asp-route-id="@item.accountNumber">Closed Account</a> |

                    <a class="btn btn-info" role="button" asp-action="Payment" asp-route-id="@item.accountNumber">Payment</a> |

                    <a class="btn btn-info" role="button" asp-controller="Transactions" asp-action="DisplayRecord" asp-route-id="@item.accountNumber">Statement</a>
                </td>
            </tr>
        }
    </tbody>
</table>
