@model IEnumerable<Project100.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<strong>@ViewData["ErrorMessage"]</strong>

<p>
    <a asp-action="Create"class="btn btn-info" role="button">Open New Account</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountNumber)
            </td>
            <td>
              

                <a asp-action="Details"class="btn btn-info" role="button" asp-route-id="@item.accountNumber">Details</a> |
                <a asp-action="Delete" class="btn btn-info" role="button" asp-route-id="@item.accountNumber">Closed </a> |
                <a asp-action="Payment" class="btn btn-info" role="button" asp-route-id="@item.accountNumber">Payment</a> |
                <a asp-action="Transfer" class="btn btn-info" role="button" asp-route-id="@item.accountNumber">Transfer </a> |
                <a asp-controller="Transactions" class="btn btn-info" role="button" asp-action="DispalyRecord" asp-route-id="@item.accountNumber">Statement</a>

            </td>
        </tr>
}
    </tbody>
</table>
