@model IEnumerable<Project100.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>@ViewData["ErrorMessage"]</h3>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountNumber)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.accountNumber">Open</a> |

                <a asp-action="Details" asp-route-id="@item.accountNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.accountNumber">Closed </a> |
                <a asp-action="Payment" asp-route-id="@item.accountNumber">Payment</a> |
                <a asp-action="Transfer" asp-route-id="@item.accountNumber">Transfer </a> |

            </td>
        </tr>
}
    </tbody>
</table>
