@model IEnumerable<Project100.Models.Class.Customers>

@{
    ViewData["Title"] = "ManinView";
}

<h1>ManinView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
           
            <td>
                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Business", "View", "Businesses", new { id = @item.Id }, null) </button>
                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Checking", "Index", "Checkings", new { id = @item.Id }, null)</button>
                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Terms", "ViewTerm", "Terms", new { id = @item.Id }, null)</button>
                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Loan", "CustomLoan", "Loans", new { id = @item.Id }, null)</button>
            </td>

        </tr>
}
    </tbody>
</table>
