@model IEnumerable<Project100.Models.Term>

@{
    ViewData["Title"] = "ViewTerms";
}

    <body style="text-align:center">

               
        <div>

            <img src="~/image/logo.png" alt="Revature Bank " height="150" width="200">
        </div>
        <br />
        <br />
        <h1>ViewTerms</h1>


        <p>@ViewData["ErrorMessage"]</p>
        <p>
            <a asp-action="Create" class="btn btn-info" role="button">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.period)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.InterestRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.createdAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.accountNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.period)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.InterestRate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.accountNumber)
                        </td>
                        <td>

                          
                            <a class="btn btn-info" role="button" asp-action="Details" asp-route-id="@item.accountNumber">Details</a> |
                            <a class="btn btn-info" role="button" asp-action="Delete" asp-route-id="@item.accountNumber">Delete</a> |
                            <a class="btn btn-info" role="button" asp-action="Withdraw" asp-route-id="@item.accountNumber">Withdraw</a> |
                            <a class="btn btn-info" role="button" asp-action="Transfer" asp-route-id="@item.accountNumber">Transfer</a>
                            <a asp-controller="Transactions" asp-action="DisplayRecord" asp-route-id="@item.accountNumber">Statement</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>