@model IEnumerable<Project100.Models.Class.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a style="widows:initial" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.registerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.registerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                <button class="btn btn-outline-success" type="submit"> @Html.ActionLink("Business", "view", "Businesses", new { @id = item.Id }, null) </button>

                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Checkings", "Index", "Checkings", new { @id = item.Id }, null)</button>

                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Terms", "Index", "Terms", new { @id = item.Id }, null)</button>

                <button class="btn btn-outline-success" type="submit">@Html.ActionLink("Loans", "Index", "Loans", new { @id = item.Id }, null)</button>
                <button asp-controller="Transactions" asp-action="DisplayRecord" asp-route-id="@item.Id" asp-route-type="Transactions"> Transaction</button>
                @*@Html.ActionLink("LinkName", "ActionName", "ControllerName", new { @id = idValue, @secondParam = = 2 }, null)*@

                @Html.ActionLink("Business", "view", "Businesses", new { @id = item.Id }, null)

            </td>
        </tr>
        }
    </tbody>
</table>
